<a href="https://colab.research.google.com/github/anika07svg/CSE309/blob/master/A2_CT_2_18101007.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

write a python code to determine odd or even

In [ ]:
a=int(input("Please Enter a Number: "));
if(a%2==0):
  print("Even")
else:
  print("Odd")

Please Enter a Number: 4
Even

Answer of the qustion 2

In [ ]:
a=int(input())
if(a>=81 and a<=100):
  print("A+")
elif(a>=71 and a<=80):
  print("A")
elif(a>=61 and a<=70):
  print("B+")
elif(a>=51 and a<=60):
  print("B")
elif(a>=41 and a<=50):
  print("C+")
else:
  print("F")

82
A+

Answer of the qustion 4

In [ ]:
student={
    1:{
        "First name":"Peter",
        "Last name":"Lee",
        "Email":"plee@university.edu",
        "year of birth": 1992
    },
    2:{
        "First name":"jonathan",
        "last name":"edwards",
        "email":"jedwards@university.edu",
        "year of birth": 1994
    },
    3:{
        "first name":"Marilyn",
        "last name":"Jhonson",
        "email":"m"
    }
}